<% provide(:title, @entry.content) %>
  <%= link_to gravatar_for(@entry.user, size: 50),@user %>
  <span class="user"><%= link_to @user.name, @user %></span>
  <span class="content">
    <p><%= @entry.content %></p>
    <%= image_tag @entry.picture.url if @entry.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(@entry.created_at) %> ago.
    <% if current_user?(@entry.user) %>
      <%= link_to "Delete", @entry, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
    <h3>Comment: </h3>
    <%= render @entry.comments %>
    <%= render 'comments/form'%>